.about-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin: 2rem auto;
    justify-content: center;
}

.about-text {
    margin-top: 2rem;
    margin-left: 1.7rem;
    display: flex;
    width: 60%;
    font-size: 1.5rem;
    text-align: justify;
}

.about-image {
    display: flex;
    width: 35%;
}

.about {
    margin: 0 0 5rem 0;
    display: flex;
    flex-direction: row;
    height: 80vh; 
}

.about-h1 {
    /* margin-top: 5rem; */
    height: 7rem;
    text-align: left;
    margin-left: 1.5rem;
}

.about-h1 h1 {
    position: relative;
    /* animation: drop 3s 1 linear forwards; */
    font-size: 4.5rem;
    animation: 0.8s linear 1 backwards slide;
}

@keyframes slide {
    0% {
        transform: skewX(30deg);
        right: 0;
        left: 30rem;
    } 
    100% {
        transform: skewX(0deg);
        right: 30rem;
        left: 0;
    }
}