@keyframes rot {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes rotopp {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}

.main-rotate-clock {
    animation: rot 50s infinite linear;
}

.main-rotate-anticlock {
    animation: rotopp 50s infinite linear;
}

.main-container {
    width: inherit;
    padding: auto;
    padding-top: 5rem;
    margin: 0 auto;
    /* align-items: center; */
    /* height: 100vh; */
}

.main-img {
    display: flex;
    padding: 0rem;
    /* border: 1px solid white; */
    border-radius: 35rem;
    z-index: 12;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
}

.main-img > img {
    border-radius: 30rem;
    height: 30rem;
    width: 30rem;
    /* top: 145vh; */
    margin: auto;
}

.main-head {
    z-index: 15;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -26rem;
    left: 0;
    /* left: -2rem; */
    font-size: 1.5rem;
    width:fit-content;
}

.main-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    justify-content: space-evenly;
    height: 45rem;
}

.main-skills {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
    z-index: 10;
    height: inherit;
}

.middle {
    justify-content: space-between !important;
}

.main-skill {
    width: 9rem;
    padding: 1.5rem;
    background: rgb(49, 46, 46);
    margin: 1.4rem 0rem;
    border-radius: 1rem;
    cursor: pointer;
    height: fit-content;
}

.main-skill:hover, .main-skill-after:hover, .skill-detail > h1 section:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.main-skill:active, .main-skill-after:active, .skill-detail > h1 section:active {
    transform: scale(0.98);
}

.main-content-after {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-skills-after {
    width: max-content;
    height: auto;
}

.main-skill-after {
    width: 17rem;
    font-size: 1.5rem;
    text-align: left;
}

.main-head-after {
    display: none;
}

.main-container-after {
    display: flex;
    flex-direction: row;
    width: inherit;
}

.skill-detail {
    background: rgba(49, 46, 46, 0.5); 
    height: inherit;
    width: inherit;
    margin: 0 1rem;
    border-radius: 1rem;
}

.skill-detail > h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 1rem;
    font-size: 3rem;
    text-decoration: underline;
}

.main-projects {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: space-between;
    height: 80%;
    align-items: center;
}

.left-button, .right-button {
    font-size: 1.5rem;
}

.left-button:hover, .right-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.left-button:active, .right-button:active {
    transform: scale(0.98);
}

.projects-div {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 90%;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .main-skills-after {
        margin: 0.5rem;
    }

    .main-skill-after {
        width: 10rem;
        height: 3rem;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .main-content-after {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main-container-after {
        flex-direction: column;
    }
}