body {
    margin: 0 auto;
    background-repeat: no-repeat;
    /* background: linear-gradient(to bottom right, #060e13, #103452); */
    background: rgb(15, 15, 15);
    scrollbar-width: thin;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar { width: 0rem; }

.ring-img {
    display: flex;
    z-index: 1;
    overflow-y: hidden;
    animation: spin 20s infinite linear;
    width: 170vh;
    position: fixed;
    left: -30rem;
    top: -8rem;
}

.app-card { 
    display: flex;
    flex-direction: column;
    z-index: 5;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}