.card-container {
    margin: 2rem auto;
    width: 85vw;
    border-radius: 2rem;
    min-height: 50vh;
    background: rgba(31, 31, 30, 0);
    display: flex;
    z-index: 2;
    align-items: center;
}